<mat-card>
    <h1 mat-dialog-title>Add Movie</h1>
    <div mat-dialog-content>
      <form [formGroup]="bookForm">
        <mat-form-field>
          <input matInput placeholder="MovieName" formControlName="movieName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="TotalTickets" formControlName="totalTickets" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Theater" formControlName="theatre" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Status" formControlName="status" required>
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-message">
          {{errorMessage}}
      </div>
      <div *ngIf="sucessMessage" class="sucess-message">
          {{sucessMessage}}
      </div>
        <div mat-dialog-actions>
          <button mat-button mat-raised-button class="button" color="primary" (click)="onSubmit()">Submit</button>
          <button mat-button mat-raised-button class="button" color="primary" (click)="onClose()">Close</button>
        
        </div>
      </form>
    </div>

   
    </mat-card>
    