<mat-card>
    <h1 mat-dialog-title>Delete Movie</h1>
    <div mat-dialog-content>
      <form [formGroup]="deleteForm">
        <mat-form-field>
          <input matInput placeholder="MovieName" formControlName="movieName">
        </mat-form-field>
        <div *ngIf="errorMessage" class="error-message">
          {{errorMessage}}
        </div>
        <div *ngIf="sucessMessage" class="sucess-message">
          {{sucessMessage}}
        </div>
        <div mat-dialog-actions>
          <button mat-button mat-raised-button class="button" color="primary" (click)="onSubmit()">Submit</button>
          <button mat-button mat-raised-button class="button" color="primary" (click)="onClose()">Close</button>
        
        </div>
      </form>
    </div>
   
    </mat-card>
    