<mat-card class="forget-password-card">
    <mat-toolbar>
        <span>Reset Password</span>
    </mat-toolbar>
    <mat-card-content>
        <form>
            <mat-form-field appearence="fill">
                <mat-label>Login ID</mat-label>
                <input matInput [(ngModel)]="passwordData.loginID" placeholder="Enter your login ID" required
                    name="loginID">
            </mat-form-field>
            <mat-form-field appearence="fill">
                <mat-label>Email-ID</mat-label>
                <input matInput [(ngModel)]="passwordData.email" placeholder="Enter your email ID" required
                    name="email">
            </mat-form-field>
            <mat-form-field appearence="fill">
                <mat-label>New Password</mat-label>
                <input matInput [(ngModel)]="passwordData.newPassword" type="password"
                    placeholder="Enter your new password" required name="newPassword">
            </mat-form-field>
            <mat-form-field appearence="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput [(ngModel)]="passwordData.confirmNewPassword" type="password"
                    placeholder="Confirm your new password" required name="confirmNewPassword">
            </mat-form-field>

            <div *ngIf="errorMessage" class="error-message">
                {{errorMessage}}
            </div>
            <div *ngIf="sucessMessage" class="sucess-message">
                {{sucessMessage}}
            </div>
            <div class="button-container">
                <button mat-raised-button class="button" color="primary" (click)="onReset()">Submit</button>
                <button mat-raised-button class="button" color="primary" (click)="onClose()">Close</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>